<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>회원정보</h1>
  <table border="1">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Del</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="member : ${memberList}">
        <td th:text="${member.id}">1</td>
        <td th:text="${member.name}">아무개</td>
        <td th:text="${member.address}">모름</td>
        <td>
          <a th:href="@{/members/delete/{id}(id=${member.id})}">
            <button>삭제</button>
          </a>
        </td>
        <td>
          <a th:href="@{|/members/update/${member.id}|}">
            <button>수정</button>
          </a>
        </td>
      </tr>
      <tr th:if="${memberList.size() == 0}">
        <td colspan="5">표시해야할 데이터가 없습니다.</td>
      </tr>
    </tbody>
  </table>
<a href="/">돌아가기</a>
</body>
</html>